{% extends "default.html" %}

{% block title %}Page Not Found{% endblock %}
{% block body %}
<div class="container">
  <div class="row h-100 justify-content-center pt-5">
      <div class="col-3 align-self-center border bg-light my-auto">
        <h1>Page Not Found</h1>
        <p>What you were looking for is just not there.</p>
        <img src="https://cdn.discordapp.com/attachments/782429022554161171/947200659395051530/FB_IMG_1645662275266.png" 
          alt="fat cat" style="width:250px;height:250px;">   
      </div>
  </div>
</div>
{% endblock %}