{% extends 'default.html' %}

{% block body %}
<div class="container ">
    <div class="row h-100 justify-content-center pt-5">
        <div class="col-3 align-self-center border bg-light my-auto rounded-3 shadow-lg">
            <h1>Log in</h1>
            <form action="/login" method="POST">
                <div class="mb-3 form-check">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username">
                </div>
                <div class="mb-3 form-check">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="/createAccount" role="button" class="btn btn-primary">Create Account</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}